<div class="container-fluid p-1">
  <div class="row pl-2 pr-1 pt-0">
      <div class="col-xl-6 col-lg-6 col-12 {{this.idDivision}}">
        <div class="mr-auto pl-0 pt-0 bd-highlight"><h3 class="text-dark" ><strong class="text-primary">Campeonatos</strong> Activos</h3></div>
        <div class="card border-white rounded">
          <!-- <app-partidoslist  [idCamp]= "158" [nCamp]="161" [idDiv]="13" [idFec]="10" [idZon]="'A'" [idBol]="0" [idIns]="0" ></app-partidoslist> -->
          <app-tabladetallecompacto *ngIf="buscandoActivos"  [idCampeonato]="this.idCamp1" [idDivision]="this.idDiv1" ></app-tabladetallecompacto>
          <!-- <app-tabladetalle *ngIf="buscando" [idCampeonato]="t.Campeonato" [idDivision]="t.categoria" [idZona]="t.Zona"></app-tabladetalle> -->
        </div>
          <!-- <app-partidoslist  [idCamp]= "item.id" [nCamp]="item.nombre" [idDiv]="item.divi" [idFec]="item.Fecha" [idZon]="item.zona" [idBol]="item.boletin" [idIns]="item.instancia" ></app-partidoslist> -->

        <!--p class="text-light">Consultar la sección boletines para más Información</p-->
        <!-- de aca campeonato 2-->

          <div class="card border-white rounded">
            <app-tabladetallecompacto *ngIf="buscandoActivos" [idCampeonato]="this.idCamp2" [idDivision]="this.idDiv2" ></app-tabladetallecompacto>
          </div>


      </div>
      <div class="col-xl-6 col-lg-6 col-12 bg-white " id="agendadeportiva">
        <div class="mr-auto pl-0 pt-0 bd-highlight"><h3 class="text-dark" ><strong class="text-primary">Agenda</strong> deportiva</h3></div>
        
        <!-- Match Cards Grid -->
        <div class="row">
          <div *ngFor="let t of displayedMatches" class="col-md-6 mb-3">
            <div class="match-card">
              <div class="match-card-header">
                <div class="match-date">
                  <span class="date-day">{{t.fechapartido}}</span>
                  <span class="date-category">{{t.nomCategoria}}</span>
                </div>
                <div class="match-venue">
                  <i class="fa fa-map-marker mr-1"></i>
                  <span>{{t.Nomloc}}</span>
                </div>
              </div>
              
              <div class="match-card-body">
                <div class="team-row">
                  <div class="team-info">
                    <img class="team-logo" src='./assets/logos/clubes/{{t.l}}.png' alt="{{t.loc}}" />
                    <span class="team-name">{{t.loc}}</span>
                  </div>
                  <div class="team-score">{{t.TantosLoc}}</div>
                </div>
                
                <div class="match-divider"></div>
                
                <div class="team-row">
                  <div class="team-info">
                    <img class="team-logo" src='./assets/logos/clubes/{{t.v}}.png' alt="{{t.visitante}}" />
                    <span class="team-name">{{t.visitante}}</span>
                  </div>
                  <div class="team-score">{{t.TantosVis}}</div>
                </div>
              </div>
              
              <div class="match-card-footer">
                <a class="match-details-btn" routerLink="/partido/{{t.idpartido}}">
                  <span>Ver detalles</span>
                  <i class="fa fa-chevron-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Show More/Less Button -->
        <div *ngIf="detalleTabla && detalleTabla.length > initialMatchCount" class="text-center mt-3 mb-3">
          <button class="btn btn-outline-primary btn-sm" (click)="toggleShowMatches()">
            <span *ngIf="!showAllMatches">
              <i class="fa fa-chevron-down mr-2"></i>Ver más partidos ({{detalleTabla.length - initialMatchCount}} más)
            </span>
            <span *ngIf="showAllMatches">
              <i class="fa fa-chevron-up mr-2"></i>Ver menos
            </span>
          </button>
        </div>

      </div>
      <div class="row p-2 justify-content-center">
        <p class="text-dark pt-2">Consultar la sección boletines para + Info &nbsp;</p>
        <!-- <a class="btn btn-primary self-align-right" href="https://fspatin.com/#/descargas/">Ver boletines</a> -->
      </div>
  </div>
</div>

