h5.bg-primary.text-white.shadow.p-1.mt-2.rounded {
  background-color: #b30c35 !important;
}
.media-body.text-center.pl-1.bg-secondary.rounded.m-0 {
  background-color: #b30c35 !important;
}
.col-xl-4.col-lg-6.col-12.primera.shadow {
  background: white !important;
}
.col-xl-4.col-lg-6.col-12.damas.shadow {
  background-color: #b30c35 !important;
}
h6.text-info.m-0 {
  font-size: 0.70rem;
}
.media-body.btnresults {
  max-width: 66px!important;
  margin-top: 12px!important;
}

span.resultadosInfo{
  text-align: center!important;
  font: caption;
}
.colcancha{
  max-width: 116px!important;
}

.bg-primary.pl-1.pr-1.rounded {
  /*max-width: 100px !important;*/
}
h6.text-light.textoInfo {
  font-size: 11px;
}

.card-header {
  padding: 0rem 0.25rem!important;

}
