
<section class="bg-white" >


  <div class="container p-t-0 m-t-2">
      <div  class="row m-t-0" >
          <div  *ngFor="let noticias of listado| slice:0:3;let j=index " class="col-md-4 pr-0 pb-2">
            <a href="{{this.url}}{{noticias.flikr}}" target="_blank">
              <div class="card text-white" >
                <div class="card-img-top card-img-top-250">
                    <img class="img-fluid overflow-hidden" src="{{this.urlimgs}}/{{noticias.foto1}}" alt="{{noticias.foto1}}">
                </div>
                <div class="card-body bg-white ">
                    <h6 class="small text-wide p-b-2 text-secondary">{{noticias.categoria_nombre}}</h6>
                    <h5 class="card-title ">
                        <a [routerLink]="['/noticia',noticias.id]" target="_blank" class="text-dark" href>{{noticias.titulo}}</a>

                    </h5>
                    <p class="card-text text-dark" [innerHTML]="getSanitizedResumen(getFirstParagraph(limitResumen(noticias.resumen,135)))"></p>

                    <!-- <p class="card-text text-dark" [innerHTML]="noticias.resumen"></p> -->

                </div>
              </div>
            </a>

          </div>
      </div>
      <!--
      <div  class="row row-equal carousel-item m-t-0" >
          <div  *ngFor="let noticias of listado;let j=index" class="col-md-4 pr-0 pb-2">
              <div class="card text-white">

                  <div class="card-img-top card-img-top-250">
                      <img class="img-fluid overflow-hidden" src="{{this.urlimgs}}/{{noticias.foto1}}" alt="{{noticias.foto1}}">
                  </div>
                  <div class="card-body bg-white ">
                      <h6 class="small text-wide p-b-2 text-secondary">Categoría</h6>
                      <h5 class="card-title ">
                          <a class="text-dark" href>{{noticias.titulo}}</a>
                      </h5>
                      <p class="card-text text-dark">Resumen</p>
                  </div>
              </div>
          </div>
      </div>
    -->
  </div>
</section>
