<div class="table-container p-2 pt-4">
  <div class="table-header" *ngIf="detalleEventos && detalleEventos.length > 0">
    <h5 class="table-title">
        <i class="fa fa-list-ol"></i>
        Posiciones / Eventos
    </h5>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" style="width: 50px;">#</th>
          <th>Club</th>
          <th>Jugador</th>
          <th class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of detalleEventos; let i = index">
          <td class="text-center">
             <img src="./assets/imagenes/{{e.estado}}.png" class="event-icon" alt="evento" />
          </td>
          <td>
            <img src="./assets/logos/clubes/{{e.idclub}}.png" class="club-logo" alt="club" />
          </td>
          <td class="font-weight-bold text-dark">
            {{e.Apellido}}, {{e.NombreJug}}
          </td>
          <td class="highlight-col">
            {{e.suma}}
          </td>
        </tr>
        <tr *ngIf="!detalleEventos || detalleEventos.length === 0">
            <td colspan="4" class="text-center py-4 text-muted">
                No hay datos disponibles para mostrar.
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
