<app-loader *ngIf="!buscando"></app-loader>
<div class="table-container">
  <div class="table-header">
    <h5 class="table-title">
      <i class="fa fa-trophy mr-2"></i>
      {{nomCampeonato}}
    </h5>
    <div class="table-meta">
      <span class="badge badge-primary">Div: {{divCampeonato}}</span>
      <span class="badge badge-secondary ml-2">Zona: {{idZona}}</span>
    </div>
  </div>
  
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-sm pr-1 pb-1" role="group" aria-label="First group">
      <button type="button" class="btn btn-dark" (click)="cargaUrl(3, 'tabla', this.idCampeonato, this.idDivision, 'A', undefined);">ZONA A</button>
      <button type="button" class="btn btn-dark" (click)="cargaUrl(3, 'tabla', this.idCampeonato, this.idDivision, 'B', undefined);">ZONA B</button>
      <button type="button" class="btn btn-dark" (click)="cargaUrl(3, 'tabla', this.idCampeonato, this.idDivision, 'C', undefined);">ZONA C</button>
      <button type="button" class="btn btn-dark" (click)="cargaUrl(3, 'tabla', this.idCampeonato, this.idDivision, 'D', undefined);">ZONA D</button>
   </div>

    <div class="btn-group btn-group-sm pb-1" role="group" aria-label="Second group">
      <button type="button" class="btn btn-success" (click)="cargaUrl(12, 'partidosevento', this.idCampeonato, this.idDivision, '1', undefined);">
        Goleadores
      </button>
      <button type="button" class="btn btn-warning" (click)="cargaUrl(12, 'partidosevento', this.idCampeonato, this.idDivision, '2', undefined);">
        Am
      </button>
      <button type="button" class="btn btn-info"    (click)="cargaUrl(12, 'partidosevento', this.idCampeonato, this.idDivision, '3', undefined);">
        Az
      </button>
      <button type="button" class="btn btn-danger"  (click)="cargaUrl(12, 'partidosevento', this.idCampeonato, this.idDivision, '4', undefined);">
        Ro
      </button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="clasifica_especial">
  <div class="alert alert-primary" role="alert">
    <h3><i class="fa fa-info fa-3x float-right text-info"></i>{{this.tituloClasificaEspecial}}</h3>
    <div>
      <h5><i class="fa fa-download fa-1x text-warning"></i><a href="https://fspatin.com/#/descargas/resoluciones" target="_blank" > Conocé el Reglamento F.S.P</a></h5>
    </div>
    <div innerHTML="{{this.resumenClasificaEspecial}}"></div>
  </div>
</div>

<div class="container p-2 rounded rounded-4">
  <div class="table-container">
    <div class="table-responsive">
      <table class="table table-standings">
        <thead>
          <tr>
            <th scope="col" class="team-col">Club</th>
            <th scope="col" class="text-center">Pts</th>
            <th scope="col" class="text-center">PJ</th>
            <th scope="col" class="text-center">PG</th>
            <th scope="col" class="text-center">PP</th>
            <th scope="col" class="text-center">PE</th>
            <th scope="col" class="text-center d-none d-lg-table-cell">GF</th>
            <th scope="col" class="text-center d-none d-lg-table-cell">GC</th>
            <th scope="col" class="text-center d-none d-lg-table-cell">DG</th>
            <th scope="col" class="text-center d-none d-lg-table-cell">GA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of detalleTabla; let i = index" [class.top-position]="i < 3">
            <td class="team-name">
              <span class="position-number">{{i + 1}}</span>
              {{t.Nombreclub}}
            </td>
            <td class="text-center points">{{t.Puntos}}</td>
            <td class="text-center">{{t.PJ}}</td>
            <td class="text-center">{{t.PG}}</td>
            <td class="text-center">{{t.PP}}</td>
            <td class="text-center">{{t.PE}}</td>
            <td class="text-center d-none d-lg-table-cell">{{t.GF}}</td>
            <td class="text-center d-none d-lg-table-cell">{{t.GC}}</td>
            <td class="text-center d-none d-lg-table-cell">{{t.DG}}</td>
            <td class="text-center d-none d-lg-table-cell">{{t.GA}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section-header">
    <h5 class="section-title">
      <i class="fa fa-calendar mr-2"></i>
      Resultados fecha: {{this.idFecha}}
    </h5>
  </div>
</div>

<div class="dates-scroll-container">
  <button class="scroll-arrow scroll-left" (click)="scrollDates('left')" *ngIf="showScrollArrows">
    <i class="fa fa-chevron-left"></i>
  </button>
  
  <div class="dates-wrapper" #datesWrapper>
    <div class="btn-group btn-group-sm" role="group" aria-label="Fechas">
      <button
        *ngFor='let in of counter(idFecha);let i = index;'
        type="button"
        class="btn btn-date"
        [class.active]="i + 1 === idFecha"
        (click)="cargaUrl(3, 'tabla', this.idCampeonato, this.idDivision, this.idZona, i + 1);">
        Fecha {{i + 1}}
      </button>
    </div>
  </div>
  
  <button class="scroll-arrow scroll-right" (click)="scrollDates('right')" *ngIf="showScrollArrows">
    <i class="fa fa-chevron-right"></i>
  </button>
</div>


<div class="container p-2">

  <b>Fase clasificatoria</b>
  <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 0 >
  </app-partidoslist>

  <b>Cuartos de Final</b>
    <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 2 >
  </app-partidoslist>

  <b>Semis 5 al 8</b>
  <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 3 >
  </app-partidoslist>

  <b>Semifinal del 1 al 4</b>
  <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 4 >
  </app-partidoslist>

  <b>Semi Final</b>
  <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 5 >
  </app-partidoslist>
  <b>Final</b>
  <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 6 >
  </app-partidoslist>
  <app-partidoslist *ngIf="buscando"
    [idCamp]= "this.idCampeonato"
    [nCamp]="this.nomCampeonato"
    [idDiv]="this.idDivision"
    [idFec]="this.idFecha"
    [idZon]="this.idZona"
    [idBol]="3"
    [idIns]= 7 >
  </app-partidoslist>

</div>
