
<app-loader *ngIf="!buscando"></app-loader>
<div class="table-responsive">
  <table class="table">
    <thead class="thead bg-primary">
      <tr>
        <th scope="col">Local</th>
        <th scope="col" class="text-center">Res.</th>
        <th scope="col">Visitante</th>
        <th scope="col">Zona</th>
        <th scope="col">Ficha</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of detalleTabla">
            <td><img src='./assets/logos/clubes/{{t.l}}.png'/> {{t.loc}}</td>
            <td class='info'><strong>{{t.TantosLoc}} - {{t.TantosVis}}</strong></td>
            <td>{{t.visitante}}<img src='./assets/logos/clubes/{{t.v}}.png'/></td>
            <td>{{t.zona}}</td>
            <td>
              <input *ngIf="determinaGanador(t.id, t.TantosLoc, t.TantosVis);" type='button' class='{{ganador}}' value='Ver'>
            </td>
        </tr>
    </tbody>
  </table>
</div>
