  <app-loader *ngIf="buscando"></app-loader>
<div class="row flex-column flex-sm-row justify-content-center">
    <div class="col-6 p-2"> <!-- Cambia col a col-6 para ocupar el 50% -->
        <nav class="nav nav-pills padd-r-2" aria-label="Boletines">
            <div class="btn-group btn-block mb-2" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle rounded-2 p-1 mt-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Boletin {{mesSel}} Año {{anioSel}}
                </button>

                <div class="dropdown-menu btn btn-block" aria-labelledby="btnGroupAnio">
                    <a class="dropdown-item" href="#">Seleccione</a>
                    <a *ngFor="let b of detalleBoletines" class="dropdown-item" href="#" routerLink="/boletines/{{b.anio}}/{{b.id}}/{{b.mes}}">
                        Boletín {{b.mes}} Año {{b.anio}}
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="accordion padd-r-2" id="accordionExample">
  <div class="card"  *ngFor="let item of detalleCamp">
    <div class="card-header p-2" id="{{item.id}}">
      <h2 class="mb-0">
      <button (click)="irDetallePartidos('/partido', item.divi, item.id, item.zona, item.fecha, item.Boletin, item.id)" class="btn btn-link w-100" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + item.id + 'div' + item.divi + 'fec' + item.Fecha + 'zo' + item.zona"  [attr.aria-controls]="'collapse' + item.id + 'div' + item.divi">
          <div class="row p-0">
            <div class="col-12 col-md-12 p-0 pl-2"><h5>{{item.nombre}}</h5></div>
            <div class="col-12 col-md-12 p-0 ">
              Fecha <span class="badge badge-primary">{{item.Fecha}}</span>
              División <span class="badge badge-primary">{{item.categ}}</span>
              Zona <span class="badge badge-primary">{{item.zona}}</span>
              &nbsp;<a class="btn btn-info" ><i class="fa fa-angle-right pr-2 pl-2"></i></a>
            </div>
          </div>
        </button>
      </h2>
    </div>

    <div id="collapse{{item.id}}div{{item.divi}}fec{{item.Fecha}}zo{{item.zona}}" class="collapse" [attr.aria-labelledby]="'heading' + item.id + 'div' + item.divi + 'fec' + item.Fecha + 'zo' + item.zona" data-parent="#accordionExample">
      <div class="card-body p-0">
        <app-partidoslist  [idCamp]= "item.id" [nCamp]="item.nombre" [idDiv]="item.divi" [idFec]="item.Fecha" [idZon]="item.zona" [idBol]="item.boletin" [idIns]="item.instancia" ></app-partidoslist>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col justify-content-center p-0 " *ngIf="!Encontrado">
      <div class="card p-2 bg-primary">

        <div class="card-content m-2 " style="text-align: center;">

          <i class="fa fa-warning" aria-hidden="true"></i>
          <h6>Seleccione un boletín</h6>
        </div>

      </div>
    </div>
  </div>

</div>
