.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


a.nav-link:active {
  color: white !important;
}

body {
  background: linear-gradient(to bottom, #000046, #1CB5E0) !important;
}

h1 {
  font-weight: bold;
}

p {
  margin-bottom: 2rem;
}

/* Animación de desvanecimiento */
.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animación de desplazamiento */
.slide-in {
  animation: slideIn 0.9s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animación de escala */
.scale-up {
  animation: scaleUp 0.5s ease-in forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.btn-link {

  text-decoration: none !important;
}

.dropdown-menu.btn.btn-block.show {
  background: white !important;
}

a {

  text-decoration: none !important;
}