<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-0 mr-md-2"  aria-label="FSP" routerLink="/">
    <img src="./assets/logochico.png" width="25" height="25" class="d-inline-block align-top " alt="">
    {{title}}
  </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary bd-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/campeonatos">Estadísticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/cuotas" >Aviso Pago</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/boletines" >Programación</a>
      </li>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown">
          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Institucional
          </a>
          <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
            <a class="dropdown-item" href="https://fspatin.com/autoridades/" target="_blank">Autoridades</a>
            <a class="dropdown-item" href="https://fspatin.com/consejo-directivo/" target="_blank">Consejo Directivo</a>
            <a class="dropdown-item" href="https://fspatin.com/consejo-directivo/" target="_blank">Comisión de Neutrales</a>
            <a class="dropdown-item" href="https://fspatin.com/consejo-directivo/" target="_blank">Tribunal de Penas</a>
            <a class="dropdown-item" href="https://fspatin.com/historia/" target="_blank">Historia</a>
            
            <div class="dropdown-divider"></div>
          </div>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Información
            </a>
            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
            <a class="dropdown-item " href="https://fspatin.com/actas/" target="_blank">Actas</a>
            <a class="dropdown-item " href="https://fspatin.com/resoluciones/" target="_blank">Resoluciones</a>
            <a class="dropdown-item " href="https://fspatin.com/documentos-utiles/" target="_blank">Docs. Útiles</a>
            <a class="dropdown-item " href="https://fspatin.com/comunicados/" target="_blank">Comunicados</a>
            <a class="dropdown-item " href="https://fspatin.com/boletines/" target="_blank">Boletines anteriores</a>
            <a class="dropdown-item " href="https://fspatin.com/tablas-finales/" target="_blank">Tablas Finales</a>
            <a class="dropdown-item" href="https://fspatin.com/descargas/Documentos%20Utiles/ESTATUTOfsp_APROBADO_EN_ASAMBLEA_22_12_04.pdf" target="_blank">Estatuto</a>
          </div>
        </li>

    
      </ul>
      
    </ul>
  </div>
<!--
  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Federación
      </a>
      <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
        <a class="dropdown-item " href="https://fspatin.com/actas/" target="_blank">Actas</a>
        <a class="dropdown-item " href="https://fspatin.com/resoluciones/" target="_blank">Resoluciones</a>
        <a class="dropdown-item " href="https://fspatin.com/documentos-utiles/" target="_blank">Docs. Útiles</a>
        <a class="dropdown-item " href="https://fspatin.com/comunicados/" target="_blank">Comnicados</a>
        <a class="dropdown-item " href="https://fspatin.com/boletines/" target="_blank">Boletines anteriores</a>
        <a class="dropdown-item " href="https://fspatin.com/tablas-finales/" target="_blank">Tablas Finales</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://fspatin.com/autoridades/">Autoridades</a>
        <a class="dropdown-item" href="https://fspatin.com/sitio/">Historia</a>
        <a class="dropdown-item" href="https://fspatin.com/techados-de-canchas-nuevo-concurso/">Techado Canchas</a>

      </div>
    </li>

  </ul>
-->
</nav>
<div class="container-fluid {{colorFondo}}">
<router-outlet></router-outlet>
</div>
