
<div class="py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="text-light m-0">
            <strong class="text-primary">Links</strong> Útiles
        </h3>
    </div>

    <div class="row">
        <!-- Boletines -->
        <div class="col-xl-2 col-lg-4 col-md-6 mb-4">
            <a routerLink="/descargas/boletines/" class="util-card" title="Ver Boletines">
                <div class="card-icon">
                    <i class="fa fa-th-list icon-boletines"></i>
                </div>
                <div class="card-content">
                    <h3>Boletines</h3>
                    <h6>Programación</h6>
                </div>
            </a>
        </div>

        <!-- Resoluciones -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <a routerLink="/descargas/resoluciones/" class="util-card" title="Ver Resoluciones">
                <div class="card-icon">
                    <i class="fa fa-info icon-resoluciones"></i>
                </div>
                <div class="card-content">
                    <h3>Resoluciones</h3>
                    <h6>FSP</h6>
                </div>
            </a>
        </div>

        <!-- Actas -->
        <div class="col-xl-2 col-lg-4 col-md-6 mb-4">
            <a routerLink="/descargas/actas/" class="util-card" title="Ver Actas">
                <div class="card-icon">
                    <i class="fa fa-file-text icon-actas"></i>
                </div>
                <div class="card-content">
                    <h3>Actas</h3>
                    <h6>F.S.P</h6>
                </div>
            </a>
        </div>

        <!-- Documentos -->
        <div class="col-xl-2 col-lg-4 col-md-6 mb-4">
            <a routerLink="/descargas/documentos-utiles/" class="util-card" title="Ver Documentos Útiles">
                <div class="card-icon">
                    <i class="fa fa-folder-open icon-documentos"></i>
                </div>
                <div class="card-content">
                    <h3>Documentos</h3>
                    <h6>Útiles</h6>
                </div>
            </a>
        </div>

        <!-- Comunicados -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <a routerLink="/descargas/comunicados/" class="util-card" title="Ver Comunicados">
                <div class="card-icon">
                    <i class="fa fa-bullhorn icon-comunicados"></i>
                </div>
                <div class="card-content">
                    <h3>Comunicados</h3>
                    <h6>Oficiales</h6>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-end mt-2">
        <div class="col-auto">
            <a class="btn btn-primary rounded-pill px-4 shadow-sm" href="https://fspatin.com/#/descargas/" target="_blank">
                <i class="fa fa-download mr-2"></i> Más Descargas
            </a>
        </div>
    </div>
</div>

