<div class="table-container">
  <div class="section-header">
    <h5 class="section-title">
      <i class="fa fa-list-alt mr-2"></i>
      Detalle del Partido
    </h5>
  </div>

  <div class="table-responsive">
    <table class="table table-events">
      <thead>
        <tr>
          <th scope="col" class="text-center" style="width: 50px;">Evento</th>
          <th scope="col">Jugador</th>
          <th scope="col" class="text-center">Club</th>
          <th scope="col" class="text-center">Tiempo</th>
          <th scope="col" class="text-center">Periodo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of detallePartido" class="event-row">
          <td class="text-center event-icon-cell">
            <!-- Gol -->
            <i *ngIf="t.estado == 1" class="fa fa-futbol-o event-icon icon-goal" title="Gol"></i>
            <!-- Amarilla -->
            <div *ngIf="t.estado == 2" class="card-icon card-yellow" title="Tarjeta Amarilla"></div>
            <!-- Azul -->
            <div *ngIf="t.estado == 3" class="card-icon card-blue" title="Tarjeta Azul"></div>
            <!-- Roja -->
            <div *ngIf="t.estado == 4" class="card-icon card-red" title="Tarjeta Roja"></div>
          </td>
          <td class="player-name">
            <strong>{{t.Apellido}}</strong>, {{t.nomjuga}}
          </td>
          <td class="text-center club-name">{{t.Nombreclub}}</td>
          <td class="text-center time-cell">{{t.mingol}}:{{t.seggol}}</td>
          <td class="text-center period-cell">{{t.tiempo}}</td>
        </tr>
        <tr *ngIf="detallePartido?.length === 0">
          <td colspan="5" class="text-center p-4 text-muted">
            No hay eventos registrados para este partido.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
