<app-amsnoticias></app-amsnoticias>
<app-amscardcarrousel></app-amscardcarrousel>
<div class="container-fluid">
  
  <div class="row p-3">

    <!-- menu partidos-->
    <div id="tablasposicion" class="col-12 col-md-6">
      <app-campeonatos></app-campeonatos>
<!--
      <div class="p-0 pb-2" >
        <h4>Noticias</h4>
        <app-botonlink></app-botonlink>
        <a href="https://www.facebook.com/capatinoficial/?__tn__=%2Cd%2CP-R&eid=ARDggE30qQCLqDobMtAgfRjyAr09Yf5lhBo9GEPRVvnRFsEbNQlkz68fWrRg_aIOJE5OcRmZdWpPENFQ" target="_blank">
          <img
            alt="Estadísticas Nito Romero" class="img-fluid" src="./assets/noticias/78aniosfsp.jpeg"
            >
        </a>
      </div>
      -->
    </div>
    <div class="col-12 col-md-6 p-0">

      <app-boletin></app-boletin>

    </div>
  </div>

</div>
