<!--<div class="container">
  <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Novedades</strong> FSP</h3></div>
</div>
-->
<app-amsnoticias></app-amsnoticias>
<app-amsbotonesutiles></app-amsbotonesutiles>
<app-amscardcarrousel></app-amscardcarrousel>
<!-- <app-amsclubesslider></app-amsclubesslider>-->
<div class="container">
  <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Estadísticas</strong> FSP</h3></div>

  <div class="row p-3">

    <!-- menu partidos-->
    <div id="tablasposicion" class="col-12 col-md-6">
      <app-campeonatos></app-campeonatos>
<!--
      <div class="p-0 pb-2" >
        <h4>Noticias</h4>
        <app-botonlink></app-botonlink>
        <a href="https://www.facebook.com/capatinoficial/?__tn__=%2Cd%2CP-R&eid=ARDggE30qQCLqDobMtAgfRjyAr09Yf5lhBo9GEPRVvnRFsEbNQlkz68fWrRg_aIOJE5OcRmZdWpPENFQ" target="_blank">
          <img
            alt="Estadísticas Nito Romero" class="img-fluid" src="./assets/noticias/78aniosfsp.jpeg"
            >
        </a>
      </div>
      -->
    </div>
    <div class="col-12 col-md-6 p-0">

      <app-boletin></app-boletin>

    </div>
  </div>
  <div class="container">
    <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Donde</strong> Practicar</h3></div>
  </div>

  <app-amsmaps [mapaurl]="paginaMapaClubes"></app-amsmaps>

  <div class="container">
    <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Ubicación</strong> FSP</h3></div>
  </div>
  <app-amsmaps [mapaurl]="paginaMapaUbicacion"></app-amsmaps>


</div>
<div class="container">
  <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Contacto</strong> FSP</h3></div>
</div>
<div class="container-fluid bg-primary">
  <div class="container p-2">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item">Dirección: <strong>Maipú 40 Este San Juan</strong></li>
          <li class="list-group-item">teléfono: <strong>264 4214428</strong></li>
          <li class="list-group-item">email: <strong>gerencia@fspatin.com</strong></li>
          <li class="list-group-item">email Prensa: <strong>prensa@fspatin.com</strong></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-facebook-square text-primary"></i> Facebook: <a href="https://www.facebook.com/fspatin">@fspatin</a></li>
          <li class="list-group-item"><i class="fa fa-twitter-square text-info"></i> Twitter: <a href="https://twitter.com/fsp_sanjuan">@fsp_sanjuan</a></li>
          <li class="list-group-item"><i class="fa fa-instagram text-danger"></i> instagram: <a href="https://instagram.com/federacionpatin">@federacionpatin</a></li>
          <li class="list-group-item"><i class="fa fa-youtube-square text-danger"></i> Youtube: <a href="https://www.youtube.com/c/FederaciónSanjuaninadePatín">Federación Sanjuanina de Patín</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
