<header class="video-header">
  <div class="video-container">
    <video autoplay [muted]="true" loop playsinline class="bg-video">
      <source src="./assets/video/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="video-overlay"></div>
  </div>
  
  <div class="header-content">
    <img src="./assets/logoblanco.png" alt="Logo FSP" class="header-logo">
    <h1 class="header-title">Federación Sanjuanina de Patín</h1>
    <p class="header-subtitle">Cuna del Hockey Patín y en San Juan</p>
    
    <div class="header-buttons">
      <a [routerLink]="['/noticia',64]" class="btn btn-outline-light rounded-pill px-4 py-2 font-weight-bold hover-effect">Autoridades</a>
      <a href="https://fspatin.com/descargas/Documentos%20Utiles/ESTATUTOfsp_APROBADO_EN_ASAMBLEA_22_12_04.pdf" target="_blank" class="btn btn-primary rounded-pill px-4 py-2 font-weight-bold hover-effect border-0">Estatuto</a>
    </div>
    
    <div class="header-socials">
      <a href="https://www.facebook.com/fspatin" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a href="https://twitter.com/fsp_sanjuan" target="_blank"><i class="fa fa-twitter-square"></i></a>
      <a href="https://instagram.com/federacionpatin" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/c/FederaciónSanjuaninadePatín" target="_blank"><i class="fa fa-youtube-square"></i></a>
    </div>
  </div>
</header>
<div class="container-fluid bg-light text-dark p-2" id="compestadistico">
  <div class="col-12 col-lg-12 mb-2">
      <app-campeonatos></app-campeonatos>
  </div>
</div>  

<div class="container p-2 mb-4">
  <app-instagram-carousel></app-instagram-carousel>
</div>
<div class="container p-2 mb-4">
  <app-amsgaleria [idGaleria]="12"></app-amsgaleria>
</div>

<div class="container text-center p-2 ">
    <!-- <div class="mr-auto p-3 bd-highlight">
      <h3><strong class="text-primary"><i id="iconVarones" class="fa fa-user"></i> Estadísticas</strong> Hockey Patín Varones</h3>
    </div>
  </div>

  <app-amscampstats [idDivision]="'primera'" class=""></app-amscampstats> -->
  <!-- <br>
  <div class="container-fluid">
    <app-amsbanners [idGaleria]="13" [idVideo]="13"></app-amsbanners>
  </div> -->
  <div class="container text-center p-2 ">
    <div class="mr-auto p-3 bd-highlight">
      <h3>
        <strong class="text-primary"><i id="iconDamas" class="fa fa-user"></i> Estadísticas</strong> Hockey Patín Damas
      </h3>

    </div>
  </div>
  <app-amscampstats [idDivision]="'damas'" class=""></app-amscampstats>
  <br>

    <!-- <app-amsvideo [idGaleria]="12"></app-amsvideo>
    <app-amsvideo [idGaleria]="16"></app-amsvideo>
    <app-amsvideo [idGaleria]="17"></app-amsvideo> -->

  <div class="bgfondo container-fluid text-center pt-4">

      <!-- <img class="logofondo" src="./assets/logo.png" alt="FSP">
      <h2 class="text-white p-2 pt-4">Federación Sanjuanina de Patín</h2> -->
    <div class="container" id="institucion">
      <div class="row">

          <div class="col-12 col-lg-6 col-xl-4 hover-effect">
            <a [routerLink]="['/categoria',7]" >
              <img src="./assets/svg/7.png"  style="max-height: 100px;" alt="Logo FSP" class="img-fluid p-1 mb-1">
              <h3 class="text-white lead">P. Artístico</h3>
            </a>
          </div>


          <div class="col-12 col-lg-6 col-xl-4 hover-effect">
            <a [routerLink]="['/categoria',6]" >
              <img src="./assets/svg/6.png"  style="max-height: 100px;" alt="Logo FSP" class="img-fluid p-1 mb-1">
              <h3 class="text-white lead">H. Patín</h3>
            </a>
          </div>

        <div class="col-12 col-lg-6 col-xl-4 hover-effect">
          <a [routerLink]="['/categoria',8]" >
            <img src="./assets/svg/8.png" style="max-height: 100px;" alt="Logo FSP" class="img-fluid p-1 mb-1">
            <h3 class="text-white lead">P. Carrera</h3>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center p-2 ">
    <div class="mr-auto p-3 bd-highlight"><h3><strong class="text-primary">Novedades</strong> Hockey Patín</h3></div>
  </div>
  <div class="container ">
    <app-amscardcarrousel [idGaleria]="6"></app-amscardcarrousel>
  </div>

  <div class="container">
    <app-amsbanners [idGaleria]="14" [idVideo]="14"></app-amsbanners>
  </div>
  <div class="container text-center p-2 ">
    <div class="mr-auto p-3 bd-highlight"><h3><strong class="text-primary">Novedades</strong> Artístico</h3></div>
  </div>
  <div class="container-fluid">
    <app-amsgalerias [idGaleria]="7"></app-amsgalerias>
  </div>

  <div class="container-fluid ">
    <app-amsbotonesutiles></app-amsbotonesutiles>
  </div>




<div class="container" *ngIf="!isApp">
  <app-amsnoticias></app-amsnoticias>

</div>



<!--<h3>descargas</h3>
<div class="contenedor-iframe" style="height: '{{this.contenedorIframeElement}}';" >
  <iframe #iframeElement [src]="frameurl()" ></iframe>
</div> -->

<div class="container-fluid">
  <app-amsbanners [idGaleria]="15" [idVideo]="15"></app-amsbanners>
</div>

 <div class="container ">
  <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Donde</strong> Practicar</h3></div>
</div>
<div class="container-fluid ">
  <app-amsmaps [mapaurl]="paginaMapaClubes"></app-amsmaps>
</div>
<div class="container  ">
    <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Ubicación</strong> FSP</h3></div>
</div>
<div class="container-fluid ">
  <app-amsmaps [mapaurl]="paginaMapaUbicacion"></app-amsmaps>
</div>
<div class="container ">
  <div class="mr-auto pl-0 pt-3 bd-highlight"><h3 ><strong class="text-primary">Contacto</strong> FSP</h3></div>
</div>
<div class="container-fluid bg-light ">
  <div class="container p-2">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item">Dirección: <strong>Maipú 40 Este San Juan</strong></li>
          <!-- <li class="list-group-item">teléfono: <strong>+54 9 264 672-4853</strong></li>
          <li class="list-group-item">teléfono: <strong>+54 9 264 562-7867</strong></li> -->
          <li class="list-group-item">teléfono: <strong>+54 9 2645 851 237</strong></li>
          <li class="list-group-item">email: <strong>gerencia&#64;fspatin.com</strong></li>
          <li class="list-group-item">email Prensa: <strong>prensa&#64;fspatin.com</strong></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-facebook-square text-primary"></i> Facebook: <a href="https://www.facebook.com/fspatin">&#64;fspatin</a></li>
          <li class="list-group-item"><i class="fa fa-twitter-square text-info"></i> Twitter: <a href="https://twitter.com/fsp_sanjuan">&#64;fsp_sanjuan</a></li>
          <li class="list-group-item"><i class="fa fa-instagram text-danger"></i> instagram: <a href="https://instagram.com/federacionpatin">&#64;federacionpatin</a></li>
          <li class="list-group-item"><i class="fa fa-youtube-square text-danger"></i> Youtube: <a href="https://www.youtube.com/c/FederaciónSanjuaninadePatín">Federación Sanjuanina de Patín</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
