@media (min-width: 200px) and (max-width: 767.98px) {
  th {
    font-size: 11px!important;
    padding: 4px;
  }
  td {
    font-size: 11px!important;
    padding: 4px;
  }
}
th {
  font-size: 13px;
  padding: 4px;
}
td {
  font-size: 13px;
  padding: 4px;
}
i.fa{
  font-size: 1.5rem!important;
  padding-top: 0rem;
  padding-bottom: .25rem;
}
.table-bordered td, .table-bordered th {
  border: 0px;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  border-bottom: none;
}
.table td, .table th {
  border-top: none;
}
@media (min-width: 768px)
{
  .padd-r-2 {
    padding-right: 2px!important;
}
}
