<app-loader *ngIf="!buscando"></app-loader>

<div class="table-container">
  <div class="table-responsive">
    <table class="table table-matches">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col" class="text-center" colspan="2">Local</th>
          <th scope="col" class="text-center">Resultado</th>
          <th scope="col" class="text-center" colspan="2">Visitante</th>
          <th scope="col" class="text-center d-none d-md-table-cell">Zona</th>
          <th scope="col" class="text-center d-none d-lg-table-cell">Estado</th>
          <th scope="col" class="text-center">Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of detalleTabla" class="match-row">
          <td class="match-date">{{t.fechapartido}}</td>
          <td class="team-logo-cell">
            <img class="team-logo" src='./assets/logos/clubes/{{t.l}}.png' alt="{{t.loc}}" />
          </td>
          <td class="team-name">{{t.loc}}</td>
          <td class="match-score text-center">
            <span class="score" [class.winner]="t.TantosLoc > t.TantosVis">{{t.TantosLoc}}</span>
            <span class="separator">-</span>
            <span class="score" [class.winner]="t.TantosVis > t.TantosLoc">{{t.TantosVis}}</span>
          </td>
          <td class="team-name">{{t.visitante}}</td>
          <td class="team-logo-cell">
            <img class="team-logo" src='./assets/logos/clubes/{{t.v}}.png' alt="{{t.visitante}}" />
          </td>
          <td class="text-center d-none d-md-table-cell">
            <span class="badge badge-primary">{{t.zona}}</span>
          </td>
          <td class="text-center d-none d-lg-table-cell">
            <span class="badge badge-secondary">{{t.estado}}</span>
          </td>
          <td class="text-center">
            <a class="btn-view" routerLink="/partido/{{t.id}}">
              <i class="fa fa-chevron-right"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
