/* You can add global styles to this file, and also import other style files */
body{
  background: "#ffffff" !important;
}
.btn-info {
  background-color: #0062cc!important;
  border-color: #17a2b8;
}
header.navbar.navbar-expand.navbar-dark.bg-primary.flex-column.flex-md-row.bd-navbar {
  background: #0a1159!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.86)!important;
  
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
  font-weight: 600;
  
}
.form-signin{
  width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
a:hover {
  text-decoration: none!important;
}
.container-fluid {
  padding: 0px!important;
}
.btn-link:hover {
  text-decoration: none!important;
}

.colorFuenteMenu {
  color: #292929!important;
}
.colorIconoMenu {
  color: white!important;
}
.colorFondoIconoMenu {
  background: #1c1592;
}
.paddingFondoIconoMenu {
  padding: 12px!important;
}
.colorMenu {
  background: white!important;
}
.colorBarra {
  background: #1c1592;
}
.colorLetraBarra {
  color: white!important;
}
/* login */
.colorLetraLogin {
  color: white!important;
}
.colorFondoLogin {
  background: rebeccapurple!important;
}
.colorInputLogin {
  background: gray!important;
}
.colorLabelsLogin {
  color: green!important;
}

.fa-4 {
  font-size: 100px!important;
  text-align: center;
  padding: 16px;
}
.logoclub{
  width: 18px;
    padding-top: 0px;
}

/* animaciones css*/

.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -50px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

.animate-right {
  position: relative;
  animation: animateright 0.4s
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.8s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.animate-zoom {
  animation: animatezoom 0.7s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.animate-input {
  transition: width 0.4s ease-in-out
}

.animate-input:focus {
  width: 100% !important
}

.animate-fade {
  animation: fading 10s infinite;
}
div#tablasposicion {
  padding-right: 10px!important;
    padding-left: 0px;
}
@media only screen and (max-width: 600px)
{
  div#tablasposicion {

      padding: 0px!important;
  }
}


